@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.divbig {
    position: relative;
    /* padding-top: 100px; */
}

.top {
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1000;
    top: 0;
}


.marquee {
    height: 25px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

.marquee div {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 15s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
    color: aliceblue;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.top-menu {
    display: flex;
    height: 100px;
    align-items: center;
    background-color: white;
    top: 0px;
    position: sticky;
    z-index: 100000;
    width: 100%;
    justify-content: center;
}

.dropbtn {
    color: black;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.chevron-down-outline {
    display: flex;
    background-color: aqua;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}

.logo a {
    font-weight: 700;
    font-size: 45px;
    margin-left: 20px;
    /* margin-right: 50px; */
    text-decoration: none;
    color: black;
}

.search input {
    height: 30px;
    width: 250;
    border: 1px solid black;
    border-radius: 10px;
}

.search button {
    background-color: black;
    height: 30px;
    width: 30px;
    color: white;
    border-radius: 10px;
    border: none;
}

.search {
    display: flex;
    gap: 7px;
    margin-left: 80px;
}

.trangchu {
    display: flex;
    gap: 20px;
    font-size: 19px;
    margin-left: 50px;
}

.trangchu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.ic-right {
    display: flex;
    margin-right: 55px;
    gap: 30px;
    font-size: 30px;
    margin-left: 40px;
}

.banner img {
    /* flex-shrink: 0; */
    display: block;
    width: 100%;
    /* margin-top: 170px; */
}

.spnb {
    margin: 30px 0px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.sp {
    /* background-color: aqua; */
    /* width: 280px; */
    height: 380px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sp:hover {
    /* background-color: aqua; */
    border: 2px solid black;
}

.ic-right label {
    font-size: 21px;

}

.ic-right a {
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sp img {
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    margin: 10px 0px;
}

.sp label {
    display: flex;

    font-size: 16px;
    font-weight: 500;
}

.gia {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 7px 0px;
}

/* .content-spnb{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
} */

/* Thay bằng lưới */
.content-spnb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* flex: 1; */
    gap: 30px;
    padding: 0px 60px;
}

.xt {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 15px;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.xt label {
    font-size: 17px;
    font-weight: 400;
}

.xt ion-icon {
    font-size: 17px;
    align-content: center;
}

.tcsp {
    margin: 30px 0px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

/* Sử dụng lưới */
.tcsp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* flex: 1; */
    gap: 30px;
    padding: 0px 60px;
}

.sologan label {
    /* display: flex;
    justify-content: center; */
    font-size: 25px;
    padding: 10px 0px;

}

.sologan {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bot {
    background-color: black;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-evenly;
}

.vect,
.hotrokh,
.phuongthuctt,
.dichvukh {

    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mxh {
    font-size: 25px;
    gap: 10px;
}

.mxh a {
    color: white;
    margin-right: 7px;
}

.htz {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0px;
}

.phanloai {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
    padding-right: 50px;
    gap: 10px;
    margin: 20px 0px;
}

.phanloai button {
    padding: 7px 7px;
    border-radius: 5px;
    border: none;
}


.phanloai button:hover {
    padding: 7px 7px;
    border-radius: 5px;
    font-weight: 600;
    border: 1px solid white;
    color: #f1f1f1;
    background-color: black;
}

.fdk {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    /* border: 1px solid; */
    padding: 50px 150px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;


}

.dk {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dk label {
    font-weight: 500;
    font-size: 18px;
}

.full-dkkh {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}

.dk input,
select {
    width: 300px;
    padding: 5px 10px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 5px;
}

.fdk-i label {
    font-size: 30px;
    font-weight: 600;
    padding: 25px 0px;

}

.td-gh{
    display: flex;
}

.bt-order{
    display: flex;
    justify-content: flex-end;
    padding: 30px 120px;
}

.bt-order button{
    padding: 10px 80px;
    font-size: 17px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    border: none;
    margin-bottom: 50px;
}


.td-gh{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0px;
}

.full-ctdh {
    padding: 40px 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-dc {
    border: 1px solid black;
    display: flex;
    gap: 70px;
    padding: 20px 20px;
    border-radius: 10px;
}

.dc-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dc-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.td-ctdd {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    /* padding: 20px 0px; */
}

.full-sp {
    display: flex;
    padding: 20px 40px;
    border-radius: 10px;
    flex-direction: column;
    border: 1px solid black;
}


.full-pttt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 20px 0px;
    background-color: #F5F7F8;
    border-radius: 10px;
    margin: 20px 0px;


}

.pttt {
    display: flex;
    gap: 50px;
    padding: 10px 20px;
    font-size: 17px;
}

.dvvc {
    display: flex;
    flex-direction: column;
}

.vc {
    display: flex;
    justify-content: flex-end;
    gap: 235px;
    padding: 5px 100px;
    font-size: 17px;

}

.tongtien {
    display: flex;
    padding: 5px 60px;
    gap: 200px;
}

.btn-dh {
    padding: 5px 25px;
}

.btn-dh button {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 80px;
    border-radius: 10px;
    border: none;
}

.full-danhgia{
    display: flex;
    padding: 0px 150px ;
    flex-direction: column;
}

.mdhl{
    padding: 25px 0px;
    border-top: 1px solid #e4e4e4;
}

.bt-mdhl{
    padding: 10px 30px;
    margin: 10px 40px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.bt-mdhl button{
    background-color: white;
    /* color: white; */
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
}

.bt-mdhl button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 600;

}

.danhgia{
    border-radius: 10px;
    display: flex;
    gap: 30px;
    padding: 10px 25px;
    margin-bottom: 15px;
}

.danhgia-img img{
    border: 2px solid black;
    border-radius: 100px;
}

.danhgia-img{
    display: flex;
    align-items: center;
}

.danhgia-tt{
    display: flex;
    flex-direction: column;
    gap: 7px;
}